@{
    ViewBag.Title = "TOY YODA";
}

<div class="jumbotron">
    <h1>TOY YODA</h1>
    <p class="lead">
        ¡Bienvenido al sistema de gestión de clientes de Toy Yoda! Estamos encantados de ofrecerte una solución poderosa y eficiente para administrar y nutrir tus relaciones con los clientes de manera efectiva.

        Nuestro sistema de gestión de clientes ha sido diseñado pensando en ti, el administrador dedicado a mantener conexiones sólidas y duraderas con cada cliente. Con nuestra plataforma intuitiva y fácil de usar, tendrás todas las herramientas necesarias para optimizar tus procesos de gestión y brindar un servicio excepcional..
    </p>
    <p><a href="https://google.com" class="btn btn-primary btn-lg">Mas &raquo;</a></p>
</div>

