<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @{
        ViewBag.Title = "Paises";
    }
    <h2>@ViewBag.Title.</h2>
    <div class="card-header">
        <span><b>Lista de Paises</b></span>
        <button class="btn btn-primary btn-sm btn-block col-md-3 float-right" type="button" id="new_emp_btn"><span class="fa fa-plus"></span> Agregar Pais</button>
    </div>
    <table id="table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id Pais</th>
                <th>Pais</th>

            </tr>
        </thead>
        <tbody>
        <th>001</th>
        <th>El Salvador</th>
        </tbody>
    </table>
</body>
</html>